<!-- Post one -->
<div class="entry">
 <h2><a href="<%= url(entry.link) %>"><%= entry.title %></a></h2>

 <!-- Meta details -->
 <div class="meta">
    <i class="icon-calendar"></i><%= entry.created_at.strftime("%Y/%m/%d %H:%M:%S") %> 
    <i class="icon-tag"></i><%= entry.tags_to_html %>
    <span class="pull-right">
    </span>
 </div>

 <!-- Thumbnail
 <div class="bthumb2">
    <a href="#"><img src="img/photos/tn_1.jpg" alt="" /></a>
 </div>
-->

<p><%= entry.body %></p>

<%= partial "social", :locals => {:entry => entry} %>

 <div class="clearfix"></div>
</div>
