<!-- Post one -->
<div class="entry">
 <h2><a href="<%= url(entry.link) %>"><%= entry.title %></a></h2>

 <!-- Meta details -->
 <div class="meta">
    <i class="icon-calendar"></i><%= entry.created_at.strftime("%Y/%m/%d %H:%M:%S") %> 
    <i class="icon-user"></i>Admin 
    <i class="icon-tag"></i><%= entry.tags_to_html %>
    <span class="pull-right">
      <i class="icon-comment"></i><a href="#"><%= link_to "#{t('comments')}(#{entry.comments.size})", url("#{entry.link}#comment_wrapper")%></a>
    </span>
 </div>

 <!-- Thumbnail
 <div class="bthumb2">
    <a href="#"><img src="img/photos/tn_1.jpg" alt="" /></a>
 </div>
-->

<p><%= entry.body %></p>
 <div class="clearfix"></div>
</div>
