  <hr />

  <!-- Blog starts -->
            <div class="blog">
               <div class="row">
                  <div class="span12">
                     
                     <!-- Blog Posts -->
                     <div class="row">
                        <div class="span8">
                           <div class="posts">
                           
                              <!-- Each posts should be enclosed inside "entry" class" -->
                              <!-- Post one -->
                              <div class="entry">
                                 <h2><a href="<%= url(@entry.link) %>"><%= @entry.title %></a> <span class="hatena-star-container"></span></h2>
                                 
                                 <!-- Meta details -->
                                 <div class="meta">
                                    <i class="icon-calendar"></i><%= @entry.created_at.strftime("%Y/%m/%d %H:%M:%S") %>
                                    <i class="icon-tag"></i><%= @entry.tags_to_html %>
                                    <span class="pull-right">
                                    </span>
                                 </div>
                                 
                                 <%= @entry.body %>

                              </div>
                              
                              <div class="well">
                                 <!-- Social media icons -->
                                 <div class="social">
                                    <%= partial "social", :locals => {:entry => @entry} %>
                                 </div>
                              </div>     

                               <hr />

                               <!-- Comment section -->
                               <%= partial "disqus" %>

                              <div class="clearfix"></div>
                              
                           </div>
                        </div>                        
                        <div class="span4">
                           <%= partial "sidebar", :locals => {:entry => nil} %>
                        </div>
                     </div>
                     
                  </div>
               </div>
            </div>
 

 <div class="border"></div>

  </div>
</div>
