<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>Lyrical Magical</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">


  <!-- Stylesheets -->
  <link href="<%= @theme.path %>/style/bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" href="<%= @theme.path %>/style/font-awesome.css">
  <link href="<%= @theme.path %>/style/prettyPhoto.css" rel="stylesheet">
  <link rel="stylesheet" href="<%= @theme.path %>/style/slider.css">
  <link href="<%= @theme.path %>/style/style.css" rel="stylesheet">

  <!-- Colors - Orange, Purple, Green and Blue -->
  <link href="<%= @theme.path %>/style/blue.css" rel="stylesheet">

  <link href="<%= @theme.path %>/style/bootstrap-responsive.css" rel="stylesheet">
  
  <!-- HTML5 Support for IE -->
  <!--[if lt IE 9]>
  <script src="js/html5shim.js"></script>
  <![endif]-->

  <!-- Favicon -->
  <link rel="shortcut icon" href="<%= @theme.path %>/img/favicon/favicon.png">
</head>

<body>

<!-- Header Starts -->
<header>
  <div class="container">
    <div class="row">
      <div class="span6">
        <div class="logo">
          <h1><a href="/">Lyrical <span class="color">Magical</span></a></h1>
          <div class="hmeta">〜 ウェブサービス開発日記 〜</div>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Navigation bar starts -->
          <div class="navbar">
           <div class="navbar-inner">
             <div class="container">
               <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                 <span>Menu</span>
               </a>
               <div class="nav-collapse collapse">
                 <ul class="nav">
                   <li><a href="/home">Portfolio</a></li>
                   <li><a href="/">Blog</a></li>
                   <li><a href="https://github.com/yudozen">GitHub</a></li>
                 </ul>
               </div>
              </div>
           </div>
         </div>

<!-- Navigation bar ends -->

<div class="content">
  <div class="container">
    <%= yield %>
  </div>
</div>

<!-- Social -->

<div class="social-links">
  <div class="container">
    <div class="row">
      <div class="span12">
        <p class="big"><span>Follow Me On</span> <a href="http://www.facebook.com/yutaro.dozen"><i class="icon-facebook"></i>Facebook</a> <a href="#"><i class="icon-twitter"></i>Twitter</a> <a href="https://github.com/yudozen"><i class="icon-github"></i>GitHub</a></p>
      </div>
    </div>    
  </div>
</div>


<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">

      <div class="widgets">
        <div class="span4">
          <div class="fwidget">
            <h5>サービス</h5>
            <ul>
              <li><a href="http://lyricalcall.com/?locale=ja">Lyrical Call</a></li>
              <li><a href="http://lmail.jp">Lyrical Mail</a></li>
              <li><a href="http://wow.curseforge.com/addons/arenadb">ArenaDB (開発終了)</a></li>
            </ul>
          </div>
        </div>

        <div class="span4">
          <div class="fwidget">
            <h5>Twitter Feed</h5>
          </div>
        </div>

        <div class="span4">
          <div class="fwidget">
            <h5>最近のエントリー</h5>
            <ul>
            <% Post.recent(5).each do |post| %>
              <li><a href="<%= url(post.link) %>"><%= post.title %></a></li>
            <% end %>
            </ul>
          </div>
        </div>
      </div>

      <div class="span12">
          <div class="copy">
            <h5>Lyrical <span class="color">Magical</span></h5>
            <p>Copyright &copy; 2013 douzen.net</p>
          </div>
      </div>
    </div>
  <div class="clearfix"></div>
  </div>
</footer>		

<!-- JS -->
<script src="js/jquery.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/jquery.isotope.js"></script>
<script src="js/jquery.prettyPhoto.js"></script>
<script src="js/jquery.cslider.js"></script>
<script src="js/modernizr.custom.28468.js"></script>
<script src="js/filter.js"></script>
<script src="js/cycle.js"></script>
<script src="js/custom.js"></script>

<!-- Social Button start -->
<!-- Hatebu -->
<script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
<script type="text/javascript">

// Tweet
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

// Facebook iine
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

// Google +1
  window.___gcfg = {lang: 'ja'};

  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
<!-- Social Button end -->

</body>
</html>
