<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <title>Lyrical Magical</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">


  <!-- Stylesheets -->
  <link href="<%= @theme.path %>/style/bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" href="<%= @theme.path %>/style/font-awesome.css">
  <link href="<%= @theme.path %>/style/prettyPhoto.css" rel="stylesheet">
  <link rel="stylesheet" href="<%= @theme.path %>/style/slider.css">
  <link href="<%= @theme.path %>/style/style.css" rel="stylesheet">

  <!-- Colors - Orange, Purple, Green and Blue -->
  <link href="<%= @theme.path %>/style/blue.css" rel="stylesheet">

  <link href="<%= @theme.path %>/style/bootstrap-responsive.css" rel="stylesheet">
  
  <!-- HTML5 Support for IE -->
  <!--[if lt IE 9]>
  <script src="js/html5shim.js"></script>
  <![endif]-->

  <!-- Favicon -->
  <link rel="shortcut icon" href="<%= @theme.path %>/img/favicon/favicon.png">
</head>

<body>

<!-- Header Starts -->
<header>
  <div class="container">
    <div class="row">
      <div class="span6">
        <div class="logo">
          <h1><a href="/">Lyrical <span class="color">Magical</span></a></h1>
          <div class="hmeta">リリカルマジカル〜なのフェイ同盟〜</div>
        </div>
      </div>
      <div class="span6">
        <div class="form">
          <form method="get" id="searchform" action="#" class="form-search">
            <input type="text" value="" name="s" id="s" class="input-medium"/>
            <button type="submit" class="btn">Search</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Navigation bar starts -->
          <div class="navbar">
           <div class="navbar-inner">
             <div class="container">
               <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                 <span>Menu</span>
               </a>
               <div class="nav-collapse collapse">
                 <ul class="nav">
                   <li><a href="/home">Portfolio</a></li>
                   <li><a href="/profile">Profile</a></li>
                   <li><a href="/">Blog</a></li>
                   <li><a href="https://github.com/yudozen">GitHub</a></li>
                 </ul>
               </div>
              </div>
           </div>
         </div>

<!-- Navigation bar ends -->

<div class="content">
  <div class="container">
    <%= yield %>
  </div>
</div>

<!-- Social -->

<div class="social-links">
  <div class="container">
    <div class="row">
      <div class="span12">
        <p class="big"><span>Follow Me On</span> <a href="#"><i class="icon-facebook"></i>Facebook</a> <a href="#"><i class="icon-twitter"></i>Twitter</a> <a href="#"><i class="icon-google-plus"></i>Google Plus</a> <a href="#"><i class="icon-linkedin"></i>LinkedIn</a></p>
      </div>
    </div>    
  </div>
</div>


<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">

      <div class="widgets">
        <div class="span4">
          <div class="fwidget">
            <h5>Downlaods</h5>
            <ul>
              <li><a href="#">Condimentum</a></li>
              <li><a href="#">Etiam at</a></li>
              <li><a href="#">Fusce vel</a></li>
              <li><a href="#">Vivamus</a></li>
              <li><a href="#">Pellentesque</a></li>
            </ul>
          </div>
        </div>

        <div class="span4">
          <div class="fwidget">
            <h5>Support</h5>
            <ul>
              <li><a href="#">Condimentum</a></li>
              <li><a href="#">Etiam at</a></li>
              <li><a href="#">Fusce vel</a></li>
              <li><a href="#">Vivamus</a></li>
              <li><a href="#">Pellentesque</a></li>
            </ul>
          </div>
        </div>

        <div class="span4">
          <div class="fwidget">
            <h5>Recent Posts</h5>
            <ul>
              <li><a href="#">Sed eu leo orci, condimentum gravida metus</a></li>
              <li><a href="#">Etiam at nulla ipsum, in rhoncus purus</a></li>
              <li><a href="#">Fusce vel magna faucibus felis dapibus facilisis</a></li>
              <li><a href="#">Vivamus scelerisque dui in massa</a></li>
              <li><a href="#">Pellentesque eget adipiscing dui semper</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="span12">
          <div class="copy">
            <h5>Lyrical <span class="color">Magical</span></h5>
            <p>Copyright &copy; <a href="#">2013 douzen.net</a> - <a href="#">Home</a> | <a href="#">Profile</a> | <a href="#">Disclaimer</a> | <a href="#">Disclaimer</a></p>
          </div>
      </div>
    </div>
  <div class="clearfix"></div>
  </div>
</footer>		

<!-- JS -->
<script src="js/jquery.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/jquery.isotope.js"></script>
<script src="js/jquery.prettyPhoto.js"></script>
<script src="js/jquery.cslider.js"></script>
<script src="js/modernizr.custom.28468.js"></script>
<script src="js/filter.js"></script>
<script src="js/cycle.js"></script>
<script src="js/custom.js"></script>
</body>
</html>
